html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  font-family: ivymode, sans-serif;
  font-style: normal;
}
h1{
  color: black;
  font-weight: 700;
}
#__next{
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flexBreak{
  flex-basis: 100%;
  height: 0;
}